.navbar {
  width: 100%;
}

.navbar-wrapper {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.navlist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
