.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.divider {
  height: 100%;
  width: 5px;
  background-color: black;
  opacity: 0.7;
}

.inputPart,
.resultPart {
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

.inputPart {
  height: 80px;
  max-width: 100%;
}

.resultPart {
  font-size: 20px;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.inp {
  border: none;
  border-bottom: 3px solid #ffbb33;
  width: 400px;
  height: 100%;
  font-size: 50px;
}

.inp:focus {
  outline: none;
}

.inp::placeholder {
  font-size: 50px;
}

.btn {
  border: none;
  background-color: #ffbb33;
  padding: 10px 80px;
  height: 100%;
  font-size: 50px;
  border-radius: 15px;
  outline: none;
}

.btn:active {
  outline: none;
}

.list-item-container {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.list-item input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

p {
  margin: 0;
  width: 500px;
}

.del {
  background-color: #ffbb33;
  padding: 0 30px;
  border-radius: 15px;
}

.check {
  width: 70px;
}

.reset {
  padding: 20px 150px;
  background-color: #ffbb33;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.text::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin-right: 10px;
  border-radius: 3px;
}

.text {
  display: flex;
  align-items: center;
}

.text:hover::before,
.list-item input[type="checkbox"]:hover + .text::before {
  background-color: #ffbb33;
}

.list-item input[type="checkbox"]:checked + .text::before {
  content: "\002714";
  background-color: #ecaf34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text:checked {
  background-color: blue;
}
