.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin-top: 50px;
}

.container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.inputPart {
  height: 40px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.resultPart {
  padding-top: 70px;
  font-size: 20px;
  width: 100%;
  height: auto;
  display: grid;
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 200px);
}
.inp {
  border: none;
  border-bottom: 3px solid #ffbb33;
  width: 400px;
  height: 100%;
  font-size: 30px;
}

.inp:focus {
  outline: none;
}

.inp::placeholder {
  font-size: 40px;
}

.button {
  border: none;
  background-color: #ffbb33;
  padding: 10px 40px;
  height: 100%;
  font-size: 20px;
  border-radius: 15px;
  outline: none;
}

.btn:active {
  outline: none;
}

.check {
  width: 70px;
}

.reset {
  padding: 20px 150px;
  background-color: #ffbb33;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.text {
  width: 100px;
  word-wrap: break-word;
  height: auto;
}

.container {
  width: 80vw;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
